main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 2fr 1fr;
    grid-template-areas: 
    "logo      logo      logo"
    "space     space     space"
    "Video_1   Video_2   Video_3"
    "bottom    bottom    bottom";
}

@media(max-width:800px){
	main{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 0.5fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
        "logo"
        "space"
        "Video_1"
        "Video_2"
        "Video_3"
        "bottom";
    }
}